@import url('https://fonts.googleapis.com/css2?family=Timmana&amp;text=adsduel');

body{
  text-transform:lowercase;
  font-family:Timmana, sans-serif;
  font-weight:420;
  background:#F4F4ED;
  color: #EA526F;
  }
  header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:8px;
  border-bottom:2px solid black;
  }
  h1{
  font-size:2.2em;
 
